<link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/1.11.0/polaris.min.css" />
<style>
  #pdf {
    opacity: 0;
    display: none;
  }
</style>
<script>
function isLoaded()
{
  var getMyFrame = document.getElementById("pdf");
  getMyFrame.focus();
  getMyFrame.contentWindow.print();
}
</script>

<div class="Polaris-Page">
  <div class="Polaris-Page__Header Polaris-Page__Header--hasBreadcrumbs">
    <div class="Polaris-Page__Navigation">
      <nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16" fill-rule="evenodd"></path></svg></span></span><span class="Polaris-Breadcrumbs__Content">Products</span></a></nav>
    </div>
    <div class="Polaris-Page__Title">
      <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Jar With Lock-Lid</h1>
    </div>
    <div class="Polaris-Page__Actions"></div>
  </div>
  <div class="Polaris-Page__Content">
    <p>Page content</p>
  </div>
</div>






<div class="Polaris-Page Polaris-Page--singleColumn">
  <div class="Polaris-Page__Header Polaris-Page__Header--hasBreadcrumbs">
    <div class="Polaris-Page__Navigation">
      <nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" data-polaris-unstyled="true" href="<%= @order_url %>"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16" fill-rule="evenodd"></path></svg></span></span><span class="Polaris-Breadcrumbs__Content">Order <%= @order.name %></span></a></nav>
    </div>
    <div class="Polaris-Page__Title">

      <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Label for order <%= @order.name %></h1>
    </div>
    <div class="Polaris-Page__Actions"></div>
  </div>
  <div class="Polaris-Page__Content">
    <div class="Polaris-Card">
      <div class="Polaris-Card__Header">
        <h2 class="Polaris-Heading">Shipping address</h2>
      </div>
      <div class="Polaris-Card__Section">
        <div class="Polaris-TextContainer">
          <p>
            <%= @order.shipping_address.name %><br>
            <%= @order.shipping_address.address1 %><br>
            <% if !@order.shipping_address.address2.blank? %>
              <%= @order.shipping_address.address2 %><br>
            <% end %>
            <%= @order.shipping_address.city %> <%= @order.shipping_address.province_code %> <%= @order.shipping_address.zip %><br>
            <%= @order.shipping_address.country %>
          </p>

          <button type="button" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeLarge Polaris-Button--fullWidth" onclick="isLoaded()">
            <span class="Polaris-Button__Content">Print label</span>
          </button>
        </div>
        <iframe src="<%= @pdf_url %>" id="pdf" name="pdf" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
